.App {
  text-align: center;
  font-family: 'Nunito','open-sans';
  max-height: 100vh;
}
body{
  max-height: 100vh;
}
.table-items{
  max-height: 82vh;
  overflow-y: scroll;
  z-index: 100;
}
.loader{
  min-height: 82vh;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f1f7;
}
thead tr th {
  position: sticky;
  top: 0;
  background-color: #6c757d;
  border: 1px solid #6c757d;
}
.table-items table{
  max-height: 70vh;
  min-height: 30vh;
  text-align: left;
  font-size: 1rem;
  overflow-y: scroll;
  
}
.table tbody{
max-height: 70vh;
overflow-y: scroll;
}
.error{
  background-color: #f2f1f7;
  height: 100vh;
}


th{
  font-weight: normal;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.padding-top-2{
  padding-top: 1rem
}
.p-0{
  padding:0
}
.font-2 {
  font-size: 1rem
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
